.section {
  display: flex;
  justify-content: center;
  position: relative;
  background: url(/images/background9.jpg) center no-repeat;
  background-size: cover;
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 2rem 2rem;
  max-width: 122.5rem;
  /* background-color: rgba(255, 255, 255, 0.7); */
  border-radius: 4px;
  margin: 6.9rem 0;
  font-size: 1.3rem;
  font-family: var(--secondary-font);
  position: relative;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}
/*CHECKOUT START*/
.checkout {
  max-width: 30rem;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  text-align: left;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 1.8px;
}

.checkoutHeader {
  text-align: left;
  padding: 1rem 1rem;
  background-color: rgb(188, 194, 196);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid black;
}

.checkoutBody {
  padding: 4rem 4rem;
  background-color: #f0f6f7ff;
}

.checkoutFooter {
  border-top: 1px solid black;
  padding: 1rem 4rem;
  background-color: rgb(147, 150, 151);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.checkoutLink {
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  border-radius: 2px;
  background-color: rgb(37, 37, 37);
  transition: all 0.4s;
  text-transform: uppercase;
}

/*
#F0F6F7FF
#A89C49FF
*/

.checkoutLink:hover {
  color: rgb(184, 184, 184);
}

/*CHECKOUT END*/
/*ITEM CONTAINER START*/
.headline {
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.times {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
  padding: 0.6rem 0.7rem;
  border-radius: 3px;
}

.times:hover {
  background-color: rgba(134, 134, 134, 0.822);
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.cartContainer {
  padding: 1rem 4rem;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info {
  margin: auto 4rem;
}

.img {
  max-width: 100%;
  width: 100%;
  width: 80px;
  height: 100px;
  border-radius: 10px;
}

.item {
  margin: 2rem 0;
  position: relative;
  list-style: none;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 4px 4px 12px rgba(51, 51, 51, 0.788);
  transition: ease 0.5s;
}

/* .control {
}

.button {
} */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: black;
  transition: color 0.3s;
}

.footer:hover {
  color: rgb(78, 66, 66);
}
/*ITEM CONTAINER ENDS*/

.checkout {
  width: 100%;
}

/*TOAST STARTS*/
/* .toast {
  font-size: 2.2rem;
  color: #fff;
  font-family: var(--secondary-font);
  background-color: rgb(49, 49, 49);
}
.Toastify__toast-container {
  font-size: 2.2rem;
  color: #fff;
  font-family: var(--secondary-font);
  background-color: rgb(49, 49, 49);
}

.Toastify__toast--warning {
  font-size: 2.2rem;
  color: #fff;
  font-family: var(--secondary-font);
  background-color: rgb(49, 49, 49);
} */
/*TOAST ENDS*/

@media screen and (min-width: 900px) {
  .container {
    font-size: 2.2rem;
  }
  .mainContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .checkout {
    border-radius: 20px;
    max-width: 40rem;
    width: 25vw;
    position: fixed;
    right: 10vw;
    height: 50vh;
  }

  .footer {
    text-align: left;
    bottom: 0;
    left: 5%;
  }
}
