/* .container {
  width: 100%;
  max-width: 48rem;
  margin: 9rem auto;
  padding: 0 2.4rem;
  display: flex;
  height: auto;
}

.cardContainer {
  width: 100%;
  background-color: rgba(238, 238, 238, 0.904);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
}

.card {
}

.imgContainer {
  width: 100%;
}

.img {
  max-width: 100%;
  width: 380px;
  height: 480px;
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 100%;
  }
} */
.container {
  width: 100%;
  max-width: 60rem;
  margin-top: 8rem;
  font-family: var(--secondary-font);
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.imgContainer {
  width: 100%;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.603);
  display: flex;
}
.carousel {
  z-index: 0;
}
.carouselImg {
  max-width: 100%;
  width: 100%;
  height: 50vh;
}

.img {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  align-self: center;
}

.card {
  font-size: 2.2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.button {
  padding: 0.9rem 1.8rem;
  font-size: 1.4rem;
  background-color: rgb(54, 54, 54);
  border: none;
  border-radius: 2px;
}

.button:hover {
  background-color: rgb(134, 134, 134);
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 122.5rem;
    margin-top: 6rem;
  }
  .cardContainer {
    flex-wrap: initial;
  }

  .carouselImg {
    height: 60vh;
  }
  .imgContainer {
    height: 60vh;
    max-width: 80rem;
  }
  .card {
    margin-left: 2rem;
  }
}
