.modal {
  font-size: 1.6rem;
  font-family: var(--secondary-font);
}

.header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

/*MODAL BODY STARTS*/
.body {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*LEFT STARTS*/
.left {
  /* display: grid;
  grid-template-columns: 1fr 3fr; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 0 0.3rem;
}

.left::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  right: 0;
  background-color: #121212;
  transform: translateX(50%);
}

.content {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 2rem;
}

.leftInfo {
  font-size: 1.6rem;
  line-height: 2;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
/*LEFT ENDS*/

/*RIGHT STARTS*/
.right {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.rightBody {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.rightBodyHeader {
  background-color: #000000;
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  font-size: 1.6rem;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.rightBodyContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.rightInfo {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
}

.rightInfo:nth-child(3) {
  padding: 0.7rem 2rem;
  color: #fff;
  background-color: #000000;
  text-transform: uppercase;
}

.rightInfo:nth-child(4) {
  font-size: 1.1rem;
}

.rightFooter {
  grid-column: 1;
  grid-row: 2;
}
/*RIGHT ENDS*/
/*MODAL BODY ENDS*/

.button {
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  background-color: #121212;
  border: none;
  border-radius: 0;
  margin: 0.6rem;
  position: relative;
  transition: color 0.4;
}

.button:hover {
  color: #aaa;
  background-color: #121212;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid black;
  transform: translate(0.3rem, 0.3rem);
}

.img {
  max-width: 100%;
  height: 100px;
}

@media screen and (min-width: 900px) {
  .modal {
    font-size: 2.2rem;
    max-width: 76rem !important;
  }
  .button {
    font-size: 1.6rem;
  }
  .header {
    font-size: 2.4rem;
  }
  .leftInfo {
    font-size: 2.2rem;
  }
  .rightInfo {
    font-size: 2.2rem;
  }
}
