.store {
  width: 100%;
  min-height: 100vh;
  background: url(/images/background.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-family: var(--secondary-font);
}
.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 4rem auto 0;
  padding: 3rem 1rem 0;
}

.headline {
  font-size: 4.2rem;
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: 1;
  margin-bottom: 2rem;
}

.headlineDescription {
  font-size: 1.6rem;
}

/*CARD START*/

.card {
  position: relative;
  letter-spacing: 0.2px;
  margin: 0 auto;
  text-align: left;
  max-width: 26rem;
  height: 100%;
  transform: scale(1);
  transition: all 0.4s;
  box-shadow: 0 0 15px #aaa;
}

.imageWrapper {
  overflow: hidden;
}

.cardImg {
  max-width: 100%;
  width: 100%;
  max-height: 280px;
  transform: scale(1);
  transition: all 0.8s;
}

.title {
  font-size: 2.2rem;
  line-height: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.price {
  font-size: 1.6rem;
}

.description {
  font-size: 1.2rem;
  color: #777;
  line-height: 1.6;
}

.button {
  padding: 0.6rem 1.4rem;
  font-size: 1.6rem;
  background-color: black;
  border-radius: 2px;
  border: none;
  transition: all 0.4s;
}

.button:hover {
  color: rgb(190, 255, 115);
  background-color: rgb(71, 71, 71);
}

/*CARD ENDS*/

.col {
  padding: 1.2rem 0;
}

/*PAGINATION STARTS*/
.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 4rem;
}

.pagination > ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.paginationItem {
  border: none;
  padding: 0.2rem 0.1rem;
  position: relative;
  font-size: 1.6rem;
  font-family: var(--main-font);
}

.paginationLink {
  color: rgb(0, 0, 0);
  padding: 0.4rem 1rem;
  border: none;
  transition: all 0.5s;
  background-color: rgba(119, 119, 119, 0);
}

.active {
  border-radius: 50%;
  background-color: #ddd;
}

.paginationLink:hover,
.paginationLink:active,
.paginationLink:focus {
  background: linear-gradient(
    280deg,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  );
  border: none;
  color: #777;
}

.link {
  color: rgb(0, 0, 0);
  transition: color 0.3s;
}

.link:hover {
  color: #777;
}

.link:hover .cardImg {
  /* animation: zoomIn forwards 1s; */
  transform: scale(1.2);
}

/*PAGINATION ENDS*/

@media screen and (min-width: 900px) {
  .card {
    max-width: 28rem;
  }

  .pagination {
    margin-top: 8rem;
  }

  .paginationItem {
    font-size: 1.8rem;
    padding: 0 0.3rem;
  }

  .paginationLink {
    padding: 0.4rem 1.1rem;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
